    <form>
      <input type="text" placeholder="Movie title" />
      <button type="submit">Search</button>
    </form>
      <ul class="search">
      </ul>
    <form method="post" action="/favorites">
      <ul class="movie">
      </ul>
    </form>

    <a href="/favorites">Favorites</a>