html{
  border:0;
  padding:0;
  margin:0;
  background: #3F6F93;
  height: 100%;
}
body{
	margin-top: 0;
	padding-top: 0;
	max-width: 600px;
	margin-left: auto;
	margin-right:auto;
	background: #eee;
	min-height: 100%;
	box-shadow: 0px 0px 20px 0px #999 inset;
	padding: 10px;
}
h1{
	text-align: center;
  color: #3F6F93;
}

.search{
font-size: 20px;

}

.movie{
font-size: 15px;
margin-left: 40px;
}

#Title{
	font-size: 20px;
}
